{% extends "base.html" %}

  {% block title %}<title>Calendar</title>{% endblock %}

  {% block extra_head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" type='text/css'>
    {% load static %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
  {% endblock %}


  {% block content %}
    <div class="container">
      <div id='calendar'></div>
      <button onclick="goBack()" class="btn btn-primary center-block">Go Back</button>
    </div>
  {% endblock %}

  {% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
          events: [
            {% for event in events %}
              {
                title: '{{ event.title }}',
                start: '{{ event.created_on }}',
                end: '{{ event.deadline }}'
              },
            {% endfor %}
          ]
        })
      });
      function goBack() {
        window.history.back()
      }
    </script>
  {% endblock %}
