{% extends "base.html" %}
{% block extra_head %}
  {% load static %}
  <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="form-card" class = "card z-depth-5 center">
    <form  action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <button class="btn" type="submit" value="Submit">Submit</button>
      <button class="btn" onclick="goBack()">Cancel</button>
      <br><br>
    </form>
    {{ form.media }}
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
{% endblock %}
