{% extends "./base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block extra_head %}
    {% load static %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        {% for user in users %}
  		<div class="row">
            <div class="card large col s6">
                <div class="card-image">
                  {% load static %}
					<img class = "img-responsive activator" src="{% static 'img/p1.jpg' %}">
                    <span class="card-title black-text">{{user.username}}</span>
                </div>
                <div class="card-content activator">
                    <i class="material-icons right">more_vert</i>
                    <p class = "time">Last Seen: {{ user.profile.lastSeen }}</p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{user.username}}<i class="material-icons right">close</i></span>
                    <p>{{ user.profile.status }}</p>
                    <a href="#" class = "blue-text">Private Message </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}