{% extends "./base.html" %}

{% block title %}<title>Profile</title>{% endblock %}

  {% block extra_head %}
    {% load static %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}
	<div class="row">
      <div class = "col s10 pull-s1 push-s1">
          <div class = "card z-depth-5">
			  <div class = "row">
				  <div class = "col">
					  <div class = "card">
						  <div class="profile-sidebar">
						<div class="profile-userpic">
							{% load static %}
							<img src="{% static 'img/face.jpg' %}" class="img-responsive" alt="">
						</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ username }}
					</div>
				  {% if email %}
					<p style="font-size:12px">
					  <a href="mailto:{{ email }}?Subject=Hello">
						{{ email }}
					  </a>
					</p>
				  {% endif %}
					<div class="profile-usertitle-job">
						{{ status }}
					</div>
				</div>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Message</button>
         				 <a href="/doma/users/edit/{{ user.id }}" class="btn btn-success btn-sm">Edit</a> <!-- hacky fix this -->
				</div>
				<div class="profile-usermenu">
					<ul>
						<li class="active">
							<a href="#">
							  Overview
              				</a>
						</li>
						<li>
  						<a href="#">
  							Finance History
              			</a>
						</li>
					</ul>
				</div>
				  	<div class="profile-content">
					{% if bio %}
					  <p style = "color: black">{{ bio }}<p>
					{% else %}
					<p> <a class="nav-link" href="{% url 'login' %}">Login</a> to see content</p>
					{% endif %}
			  	</div>
					  </div>
				  </div>
			  </div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

