{% extends "./base.html" %}

{% block title %}<title>Reminders</title>{% endblock %}

{% block extra_head_before %}
  {% load static %}
  <link href="{% static 'css/reminders_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
      <div class = "col s10 pull-s1 push-s1">
          <div class = "card z-depth-5">

            {% for event in events %}
                <div class="card">
                <span class="card-title">{{event.title}}</span>
                <div class="card-content">
                  <p class = "teal-text" id = "deadline">{{event.deadline}}</p>
                  <p>{{event.description}}</p>
                </div>
              </div>
            {% endfor %}
            
            {% for transaction in transactions %}
                <div class="card">
                <span class="card-title">{{transaction.title}}</span>
                <div class="card-content">
                  <p class = "teal-text" id = "deadline">{{transaction.deadline}}</p>
                  <p>{{transaction.description}}</p>
                  <p>{{transaction.amount}}</p>
                </div>
              </div>
            {% endfor %}
        
            {% for chore in chores %}
                <div class="card">
                <span class="card-title">{{chore.title}}</span>
                   <a class="waves-effect waves-light btn-flat" href="{% url 'edit-chore-deadline' chore.id %}"><i class="material-icons">edit</i></button>
                   <a class="btn-floating fab waves-effect waves-light teal right" id = "check" href="{% url 'delete-chore' chore.id %}"><i class="material-icons">check</i></a>
                 </hr>
                <div class="card-content">
                  <p class = "teal-text" id = "deadline">{{chore.deadline}}</p>
                  <p>{{chore.description}}</p>
                </div>
              </div>
            {% endfor %}

            <div class = "center">
             <a class = "center btn-floating btn-large waves-effect waves-light teal" href = "/doma/chore/create/"><i class="large material-icons right ">add_circle_outline</i></a>
            </div>
          </div>
      </div>
        </div>
  {% endblock %}
