{% extends "./base.html" %}

{% block title %}<title>Reminders</title>{% endblock %}

{% block extra_head_before %}
  {% load static %}
  <link href="{% static 'css/reminders_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<a href=''>Create a new chore</a>
    <section class="section">
      <div class="container">
        <h1 class="title">Reminders</h1>
          <div class="box">
            {% for event in events %}
            <article class="panel p-3">
              <div class="p-3">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="p-3">
                <div class="event">
                  <p>
                    <strong>{{ event.title }}</strong>
                  </p>
                  <small>
                    <a class="item">
                      <i class="fa fa-home"></i>
                    </a>
                    {{ event.description }}
                  </small>
                  <br>
                  <small>
                    <a class="item" href="{% url 'calendar' %}">
                      <i class="fa fa-clock-o"></i>
                    </a>
                    {{ event.deadline }}
                  </small>
                </div>
              </div>
            </article>
            {% endfor %}
           
            {% for transaction in transactions %}
            <article class="panel p-3">
              <div class="p-3">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
              <div class="p-3">
                <div class="finance">
                  <p>
                  <strong>{{ transaction.title }}</strong>
                  </p>
                  <small>
                    <a class="item">
                      <i class="fa fa-comment"></i>
                    </a>
                    {{ transaction.description }}
                  </small>
                  <br>
                  <small>
                    <a class="item" href="{% url 'finance' %}">
                      <i class="fa fa-dollar"></i>
                    </a>
                    {{ transaction.amount }}
                  </small>
                </div>
              </div>
            </article>
            {% endfor %}

            {% for chore in chores %}
            <article class="panel p-3">
              <div class="p-3">
                <i class="fa fa-bell"></i>
              </div>

              <div class="p-3">
                <div class="chore">
                  <p>
                  <strong>{{ chore.title }}</strong>
                  - <a href=''>edit</a>, <a href=''>delete</a>
                    <br>
                    <em>{{ chore.description }}</em>
                  </p>
                  <small>
                    <a class="item">
                      <i class="fa fa-check"></i>
                    </a>
                    Complete
                  </small>
                  <br>
                  <small>
                    <a class="item">
                      <i class="fa fa-remove"></i>
                    </a>
                    Ignore
                  </small>
                </div>
              </div>
            </article>
            {% endfor %}

          </div>
        </div>
      </section>
  {% endblock %}
