{% extends "./base.html" %}

{% block title %}<title>Reminders</title>{% endblock %}

{% block extra_head_before %}
  {% load static %}
  <link href="{% static 'css/reminders_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
      <div class = "col s10 pull-s1 push-s1">
          <div class = "card z-depth-5">
            {% for event in events %}
            <article class="panel p-3">
              <div class="p-3">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="p-3">
                <div class="event">
                  <p>
                    <strong>{{ event.title }}</strong>
                  </p>
                  <small>
                    <a class="item">
                      <i class="fa fa-home"></i>
                    </a>
                    {{ event.description }}
                  </small>
                  <br>
                  <small>
                    <a class="item" href="{% url 'calendar' %}">
                      <i class="fa fa-clock-o"></i>
                    </a>
                    {{ event.deadline }}
                  </small>
                </div>
              </div>
            </article>

            {% endfor %}
           
            {% for transaction in transactions %}
            <article class="panel p-3">
              <div class="p-3">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
              <div class="p-3">
                <div class="finance">
                  <p>
                  <strong>{{ transaction.title }}</strong>
                  </p>
                  <small>
                    <a class="item">
                      <i class="fa fa-comment"></i>
                    </a>
                    {{ transaction.description }}
                  </small>
                  <br>
                  <small>
                    <a class="item" href="{% url 'finance' %}">
                      <i class="fa fa-dollar"></i>
                    </a>
                    {{ transaction.amount }}
                  </small>
                </div>
              </div>
            </article>
            {% endfor %}

            {% for chore in chores %}
                 <div class="card">
                <span class="card-title">{{chore.title}}</span>
                <button class = "waves-effect waves-light btn-flat"><a href="{% url 'edit-chore-deadline' chore.id %}"></a><i class="material-icons">edit</i></button>
                  <a class="btn-floating fab waves-effect waves-light teal right" id = "check"><i class="material-icons">check</i></a>
                 </hr>
                <div class="card-content">
                  <p class = "teal-text" id = "deadline">{{chore.deadline}}</p>
                  <p>{{chore.description}}</p>
                </div>
              </div>
            {% endfor %}


            <div class = "center">
             <button class = "center btn-floating btn-large waves-effect waves-light teal"><a href="{% url 'create-chore' %}"></a><i class="large material-icons right ">add_circle_outline</i></button>
            </div>
          </div>
      </div>
        </div>
  {% endblock %}
