{% extends "./base.html" %}

{% block title %}<title>Profile</title>{% endblock %}

  {% block extra_head %}
    {% load static %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  {% endblock %}

{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://lorempixel.com/100/100/people/9/" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ full_name }}
					</div>
					<div class="profile-usertitle-job">
						{{ status }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Message</button>
					<button type="button" class="btn btn-danger btn-sm">Back</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul>
						<li class="active">
							<a href="#">
							Overview </a>
						</li>
						<li>
							<a href="#">
							Finance History</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   {{ bio }}.
            </div>
		</div>
	</div>
</div>
{% endblock %}
