{% extends "base.html" %} {% block title %}
<title>Login</title>
{% endblock %} {% block extra_head %} {% load static %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %} {% block content %}
<div class="form">
   <div id="login">
      <h1>Welcome Home.</h1>
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %} {% if next %} {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
      <p>Please login.</p>
      {% endif %} {% endif %}
      <form method="post" action="{% url 'login' %}">
         {% csrf_token %}
         <div class="field-wrap">
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
         </div>
         <div class="field-wrap">
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
         </div>
         <button class="button button-block" />Log In</button>
        <button class="button button-block" style="background-color:green;" /><a href="{% url 'password_reset' %}">Lost password?</a></button>
      </form>
   </div>
   <!-- tab-content -->
</div>
<!-- /form -->
{% endblock %}
