{% extends "base.html" %}
{% block content %}
    <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <form action="" method="post">{% csrf_token %}
                    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                        <p>{{ form.email }}</p>
                    <input type="submit" class="waves-light btn" value="Reset password" placeholder="email address" />
                </form>
              </div>
                <p><a href="{% url 'login' %}">Go back</a></p>
            </div>
    </div>

{% endblock %}