.card-action{
    color: red;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.name{
    font-size: 1.25em;
}

.status{
    font-size: 1.5em;
}

.time{
    font-size: 1.5em;
}

.column.small-centered {
margin-left: auto;
margin-right: auto;
float: none !important; }